<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player</title>

    <link rel="stylesheet" href="https://vjs.zencdn.net/7.20.3/video-js.css" />
    <script defer src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
</head>
<body>
    <h1>Video Player</h1>
    <video id="my-video" class="video-js" controls preload="auto" width="640" height="264" data-setup="{}">
        <source src="/stream/movie/cb561bf2-8423-4e67-8250-43d7388f7698/master.m3u8" type="application/x-mpegURL">
    </video>

</body>
</html>
